@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
}

body {
    background: linear-gradient(180deg, #fec5c4, #fd8280) no-repeat fixed;
}

div#card {
    margin: 10px auto;
    width: 39%;
    text-align: center;
    background-color: white;
    padding: 20px 20px 15px;
    box-shadow: 0 0 25px rgba(10, 10, 10, 0.185);
    animation: move-card 0.6s ease-in-out;
}

h1 {
    font-size: 2.6rem;
    margin-bottom: 12px;
    animation: hide-show-element 0s linear 0.7s both;
}

p {
    font-family: 'Arimo', Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-bottom: 25px;
    font-size: 0.81rem;
    animation: hide-show-element 0s linear 0.8s both;
}

input {
    font-family: 'Arimo', Arial, Helvetica, sans-serif;
    width: 11.9rem;
    padding: 0.125rem;
    font-size: 1.06rem;
    font-weight: 500;
    outline: none;
    border: 0.125rem solid rgb(177, 177, 177);
    border-radius: 0.17rem;
    animation: hide-show-element 0s linear 0.9s both;
    
}

input:focus {
    padding: 0.125rem;
    outline: none;
    border: 0.125rem solid #3a70b8;
    border-radius: 0.17rem;
}

button {
    font-size: 1.06rem;
    padding: 0.156rem 0.56rem;
    outline: none;
    border: 0.0625rem solid #808081;
    border-radius: 0.17rem;
    animation: hide-show-element 0s linear 0.9s both;
}

button:hover {
    background-color: #d5d7da;
}

span.todo-error {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    color: #c73b3d;
    font-size: 0.73rem;
    font-weight: 700;
    font-style: italic;
    margin: 0.44rem 0 0;
    animation: error-blink 0.4s 0.1s 2;
}

ul {
    list-style-type: none;
    margin: 1.25rem 0;
}

li {
    font-family: 'Arimo', Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
    margin: 0.625rem 0 0;
}

ul li span {
    font-size: 0.81rem;
    margin-left: 0.56rem;
    filter: grayscale(100%) brightness(110%);
    display: inline-block;
    color: rgba(0, 0, 0, 1);
}

ul li.new-item {
    animation: move-list-item 0.2s ease-in-out;
}

li.todo-done {
    text-decoration-line: line-through;
    color: rgba(0, 0, 0, 0.6);
}

ul li.todo-done-anim {
    animation: item-done 0.3s ease-in-out 0.7s both;
}

@keyframes hide-show-element {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes move-card {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes move-list-item {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes error-blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@keyframes item-done {
    0% {
        color: rgba(0, 0, 0, 1);
    }
    100% {
        color: rgba(0, 0, 0, 0.6);
    }
}